__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/
*.egg

# Config & credentials
.gs2router.json
akun.txt

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temp browser profiles
gs2r_*/
